<p id="notice"><%= notice %></p>

<section class="panel">
  <header class="panel__header">
    <span class="hide-mobile">
      <h2>Cashier</h2>
    </span>
    <div class="pull-right">
      <%= link_to '+ NEW RELEASE', new_cashier_release_path(current_user), :class => "btn--success" %>
    </div> 
  </header>

  <table class="table">
    <tbody>

      <tr>
        <th>Type release</th>
        <th>Description</th>
        <th>Form payment</th>
        <th>Date release</th>
        <th>Doc number</th>
        <th>Doc type</th>
        <th>Origin destination</th>
        <th>Value</th>
      </tr>

      <% current_user.cashier.releases.all.each do |r| %>
        <tr>
          <td><%= r.type_release %></td>
          <th><%= r.description %></th>
          <td><%= r.form_payment %></td>
          <td><%= r.date_release %></td>
          <td><%= r.doc_number %></td>
          <td><%= r.doc_type %></td>
          <td><%= r.origin_destination %></td>
          <td><%= r.value %></td>
        </tr>
      <%end%>
     
    </tbody>
  </table>

</section>


