  <p id="notice"><%= notice %></p>

<section class="panel">
  <header class="panel__header">
    <span class="hide-mobile">
      <h2>Últimos lançamentos</h2> <h4>Saldo <%= current_user.cashier.opening_balance %></h4>
    </span>
    <div class="pull-right">
      <%= link_to 'LANÇAMENTO', new_cashier_release_path(current_user), :class => "btn--success" %>
    </div> 
  </header> 

<table class="table">
  <tbody>
    <tr>
      <th>Tipo</th>
      <th>Valor</th>
      <th>Descrição</th>      
      <th>Data</th>                  
      <th></th>
      <th></th>      
    </tr>

    <% Release.where(view: true).limit(6).each do |release| %>
      <tr>
        <td><%= release.type_release %></td>
        <td><%= release.value %></td>
        <td><%= release.description %></td>        
        <td><%= post_date release.date_release %></td>        
        <td><%= link_to 'EDITAR', edit_cashier_release_path(release.cashier.id, release),       
        :class => "btn" %>      
        <%= link_to 'SHOW', cashier_release_path(current_user), :class => "btn" %>
        <%= link_to 'EXCLUIR', [release.cashier, release], method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br />
</section>