<section class="panel">
  
<p id="notice"><%= notice %></p>

<header class="panel__header">
    <span class="hide-mobile">
      <h2>Informações do Lançamento</h2>
    </span>    
  </header> 
<div class="panel">
<p>
  <b>Tipo de Lançamento: </b>
  <%= @release.type_release %>
</p>

<p>
  <b>Valor: </b>
  <%= @release.value %>
</p>

<p>
  <b>Descriçao:</b>
  <%= @release.description %>
</p>

<p>
  <b>Forma de Pagamento:</b>
  <%= @release.form_payment %>
</p>

<p>
  <b>Data:</b>
  <%= @release.date_release %>
</p>

<p>
  <b>Número do documento:</b>
  <%= @release.doc_number %>
</p>

<p>
  <b>Tipo de Documento:</b>
  <%= @release.doc_type %>
</p>

<p>
  <b>Proposito:</b>
  <%= @release.origin_destination %>
</p>
</div>
 
<center> 
<div class="actions">
  <%= link_to 'Editar', edit_cashier_release_path(@release),  :class => "btn--success" %>
  <%= link_to 'Voltar', cashier_path(current_user.cashier),  :class => "btn--primary" %>
</div>
</cente>      
</section>  